<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intexsoft.by.crittercismapi" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CrittercismApplication_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.LoginActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity_" >
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.activity.MainActivity_" >
        </activity>
        <activity
            android:name=".ui.activity.AppDetailsErrorActivity_"
            android:label="Last Month"
            android:parentActivityName=".ui.activity.MainActivity_" >
        </activity>

        <service
            android:name=".service.LoginService_"
            android:exported="false" />
        <service
            android:name=".service.NotificationService"
            android:exported="false" />
        <service
            android:name=".service.ErrorGraphService_"
            android:exported="false" />
        <service
            android:name=".service.DailyDataSavingService"
            android:exported="false" />

        <receiver
            android:name=".receiver.DeviceRebootReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NotificationReceiver" >
            <intent-filter>
                <action android:name="by.crittercismapi.notification" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.CrittercismAPIContentProvider_"
            android:authorities="intexsoft.by.crittercismapi"
            android:exported="false" />

        <activity
            android:name=".ui.activity.GraphActivity_"
            android:label="activity_graph" >
        </activity>
    </application>

</manifest>
